<head>
    <title>Update your profile</title>
</head>


<body>
        <div class="title">
            <h1>Make your profile edits below</h1>
        </div>
        <div id="content">
            <form method="post" action="{{ url_for('edit_user') }}">
                <label for="email">Enter your email:</label>
                <input type="email" name="email" /><br />
                <label for="password">Enter password:</label>
                <input type="password" name="password" /><br />
                <label for="first_name">Enter your first name:</label>
                <input type="first_name" name="first_name" /><br />
                <label for="last_name">Enter your last name:</label>
                <input type="last_name" name="last_name" /><br />
                <label for="dob">Enter your date of birth (YYYY-MM-DD):</label>
                <input type="dob" name="dob" /><br />
                <label for="gender">Gender (Male or Female):</label>
                <input type="gender" name="gender" /><br />
                <label for="address">What is your home address?:</label>
                <input type="address" name="address" /><br />
                <input type="submit" />
            </form>
         </div>
    </body>