<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>

<div id="login-box">
  <div class="left">
    <br><br>
    <h1>Get Started!</h1>
    <h3 style="color:#808080">Authenticate with Lyft</h3>

    <br><br><br>

    <a class="submit-token" href="/Lyftregister">Log in with Lyft!</a>
  </div> 
  
  <div class="right">
    <img src="../static/images/buddy-system-logo.png" alt="Buddy System Logo">

  </div>
</div>

</body>
</html>