<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Crime Search</title>
 
 
</head>
 
<body>
    <center>
        <div class = "vertical-center">
            <div id="container">
                <div id="fixedheader" style="margin-top: 100px;padding:0;"> <font size="+6"; face="Wild West">Crime Reports </font> <div> 
            <div>

            <h2> Search crime by date</h2>
            <!--<div id = "header" style="margin-top: 30px;"><font size="+2"> Search Crime by Date</font><div> -->

            <div class="wrap">
            <!--    <div class="search" action="/results" style="margin-top: 30px;" method="post"> -->
                <form action="results" method="post">
                    <input type="text" class="searchTerm" placeholder="Enter a date (yyyy-mm-dd) " name="date" style="padding: 0px; margin: 0px; height: 30px; width: 30%;"></input>
                    <input type="submit" class="button" value="Search" aria-label="Search" style="font-weight:bold;color:red;width:60px;height:30px;""></input>
                <form>
              
            <!--   </div> -->
            <div>
        <div>


 
    </div>
</body>
 
</html>
