<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Crime Search</title>
 
 
</head>
 
<body>
    <center>
        <div class = "vertical-center">
            <div id="container">
                <div id="fixedheader" style="margin-top: 100px;padding:0;"> <font size="+6"; face="Wild West">Crime Reports </font> <div> 
            <div>

            <h2> Search crime by date</h2>

            <div class="wrap">
                <form action="results" method="post">
                    <input type="text" class="searchTerm" placeholder="Enter a date (mm-dd-yyyy) " name="date" style="padding: 0px; margin: 0px; height: 30px; width: 30%;"></input>
                    <input type="submit" class="button" value="Search" aria-label="Search" style="font-weight:bold;color:red;width:60px;height:30px;""></input>
                </form>
            <div>
            <div class="Get Lyft Information">
                <form action="lyftButton" method="post">
			<input type="text" class="searchTerm" placeholder="Enter your destination (Street Address, City, State) " name="destination" style="padding: 0px; margin: 0px; height: 30px; width: 30%;"></input>
	    		<input type="submit" class="button" value="Get Lyft Information"> </input>
                </form>
            <div>
            <div class="CallLyft">
                        <a href="https://ride.lyft.com">Call a Lyft</a>
            <div>
        <div>


 
    </div>
</body>
 
</html>
