<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>

<div id="login-box">
  <div class="left">
    <h1>Log in</h1>
    <form action='login' method='POST'>
    <input type='text' name='email' id='email' placeholder='email'></input>
    <input type='password' name='password' id='password' placeholder='password'></input>
    <input type='text' name='location' id='location' placeholder='current location'></input>
    <input type="submit" name="submit" value="log in" />
    </form>
    <br><br>
    <a class="signup__link" href="/register">New member?</a>
  </div>
  
  <div class="right">
    <img src="../static/images/buddy-system-logo.png" alt="Buddy System Logo">

  </div>
</div>

</body>
</html>