<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Crime Search</title>
 
 
</head>
 
<body>

            <div class="Get Lyft Information">
                <form action="lyftButton" method="post">
			<input type="text" class="searchTerm" placeholder="Enter your destination (Street Address, City, State) " name="destination" style="padding: 0px; margin: 0px; height: 30px; width: 30%;"></input>
	    		<input type="submit" class="button" value="Get Lyft Information"> </input>
                </form>


        <li><a href='/logout'>Logout</a></li>
    </div>
</body>
 
</html>
