<!DOCTYPE html>
<html lang="en">
 
<a href="/search">Make another search</a><br>
<a href="/profile">View your profile</a>
 {% if message %}
<h4>{{message}}</h4>
{% endif %}
<head>
    <title>Crime Search</title>
 
 
</head>




<body>
	<center>
		<div>
			<h1>See the price of a Lyft to your destination, and how close a Lyft is to you!</h1>
		</div>
	<div class="Get Lyft Information">
                <form action="Lyftsummary" method="post">
			<input type="text" class="searchTerm" placeholder="Enter your destination (Street Address, City, State) " name="destination" style="padding: 0px; margin: 0px; height: 30px; width: 30%;"></input>
	    		<input type="submit" class="button" value="Get Lyft Information"> </input>
                </form>
            <div>
            <div class="CallLyft">
                        <a href="https://ride.lyft.com">Call a Lyft</a>
    </center>

</body>

{% if data %}

	<h4>These are your options with Ride Type and ETA based on your current location:</h4>
	{% for d in data[0] %}
	
	<li>{{d}}</li>
	{% endfor %}
	<h4>These are your options with Ride Type, Cost Estimate, Estimated Duration, and Estimated Distance based on your current location and destination:</h4>
	{% for i in data[1] %}
	<li>{{i}}</li>
	{% endfor %}

{% endif %}