<!DOCTYPE html>
<html>
  <head>
    <title>main.html</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </head>
  {% if create_message %}
  <h4>{{create_message}}</h4>
  {% endif %}

  <body>

    <div id="menuButton" onclick="toggleMenu('dropdown-content');">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>

    <div id="dropdown-content">
      <ul>
        <li><a href="/profile"><span class="glyphicon glyphicon-user"></span>&emsp;My Profile</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-cog"></span>&emsp;Edit Settings</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-heart"></span>&emsp;Favorites</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-off"></span>&emsp;Log Out</a></li>
      </ul>
    </div>

    <script>
    function toggleMenu(id) {  
      var e = document.getElementById(id);
      if(e.style.display == 'none')
        e.style.display = 'block';
      else
        e.style.display = 'none';
    }
    </script>

    <div style="clear:both;"></div>

    <div id="map"></div>

    <div id="display">
        {% if message %}
        <h4>{{message}}</h4>
        {% endif %}
        <br><br><br>
        <a href="/mbta">Here are your closest MBTA options!</a>
        <br><br><br>
        <a href="/Lyftsummary">Check Lyft Information</a>
    </div>
      
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 16
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcSkIs-ILkR6RPpa_dM0SK98JD9ocUbfw&callback=initMap">
    </script>
  </body>
</html>