<!DOCTYPE html>
<html lang="en">
 
<a href="/profile">View your Profile</a><br>
<a href="/">Home</a>
<head>
    <title>Find My Way Home</title>


</head>     
<body>
    <center>
        <div class = "vertical-center">
            <div id="container">
                <div id="fixedheader" style="margin-top: 100px;padding:0;"> <font size="+6"; face="Wild West">Find My Way Home </font> <div> 
            <div>
            <a href='/search'>Make another search</a><br>
            <a href='/Lyftsummary'>Check the Lyft prices in your area!</a>

            <h2> MBTA Results </h2>


        	{% for your_list_element in mbta_info %}
            	<p>{{ your_list_element }} </p>
         	{% endfor %}
         <div>
</div>
</body>
</html>