<!DOCTYPE html>
<html lang="en">

{% if message %}
<h4>{{message}}</h4>
{% endif %}

<li><a href='/logout'>Logout</a></li>
<li><a href="/">Home</a></li>

<head>
    <title>Crime Search</title>
 
 
</head>
 
<body>
    <center>
        <div class = "vertical-center">
            <div id="container">
                <div id="fixedheader" style="margin-top: 100px;padding:0;"> <font size="+6"; face="Wild West">Crime Reports </font> <div> 
            <div>

            <h2> Search the number of high profile crimes in your area</h2>

            <div class="wrap">
                <form action="results" method="post">
                    <input type="submit" class="button" value="Search Crimes" aria-label="Search" style="font-weight:bold;color:red;width:120px;height:500px;""></input>
                </form>
            <div>
            
        <div>


        
    </div>
</body>
 
</html>
